body {
  font-family: 'Open Sans', sans-serif;
  background: #000000 url("https://upload.wikimedia.org/wikipedia/commons/0/09/Night_stars_berlin.png");
  background-size: 1280px 800px;
  color: gray;
}

h1 {
  padding-top: 10px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.image-container {
  width: 640px;
  display: block;
  margin: 0 auto;
}

.info {
  font-size: 75%;
  padding-top: 100px;
  max-width: 640px;
  margin: 0 auto;
}

.attrib {
  padding-top: 20px;
  font-size: 60%;
}

a {
  color: #b3b3b3;
}

a:hover, :visited {
  text-decoration: none;
}

p#description, #coordinates, #location {
  text-align: center;
}

#iss-view {
  border: 1px solid gray;
  border-radius: 5%;
}
