<h1>Do You See What ISSee?</h1>
<p id='description'>Current view from the International Space Station</p>
<div class='image-container'>
  <img id='iss-view' src=''>
  <p>
  The ISS's coordinates right now are:
  <div id='coordinates'></div>
  </p>
  <p>It is currently orbiting above:</p>
  <div id='location'></div>
  <!-- Hit another API for location name, given coordinates -->
</div>
<p class="info">This page updates every ten seconds with a high-resolution satellite image of
the area beneath the International Space Station.</p>

