<h1>Do You See What ISSee?</h1>
<p id='description'>Current view from the International Space Station</p>
<div class='image-container'>
  <img id='iss-view' src=''>
  <p class='location-p-tag'>The ISS is currently directly above:</p>
  <p class='location-p-tag' id='location'></p>
  <p>Its coordinates right now are:</p>
  <p id='coordinates'></p>
</div>
<p class="info">This page updates every ten seconds with a high-resolution satellite image of the area currently beneath the International Space Station. When possible, it also retrieves the rough address (town, state/province, and country) beneath the ISS. This app was built using the <a href='https://developers.google.com/maps/'>Google Maps API</a> and the <a href='https://open-notify.org/'>Open Notify API.</a></p>
