<h1>Do You See What ISSee?</h1>
<p>Current view from the International Space Station</p>
<div class='image-container'>
  <img id='iss-view' src=''>
  <p>
  The ISS's current coordinates are:
  <div id='coordinates'></div>
  <%#= Position.get.latitude %> <%#= Position.get.longitude %>
  </p>
  <!-- <p>It is currently orbiting directly above:</p> -->
  <!-- Hit another API for location name, given coordinates -->
</div>
<p class="info">This page updates every ten seconds with a high-resolution satellite image of
the coordinates beneath the International Space Station.</p>
<script type="text/javascript">
  var live = true;
  var interval = 10000;
  function updateISSView() {
    $.get('http://api.open-notify.org/iss-now.json').done(function(data) {
      var $image = $('#iss-view');
      var latitude = data["iss_position"]['latitude'];
      var longitude = data["iss_position"]['longitude'];
      var url = "https://maps.googleapis.com/maps/api/staticmap?maptype=satellite&center=" + latitude + ',' + longitude + "&zoom=8&size=640x400&key=" + "<%= ENV['GOOGLE_MAPS_API_KEY'] %>";
      $image.attr('src', url);
      updateCoordinates(latitude, longitude);
    })
  function updateCoordinates(latitude, longitude) {
    $('#coordinates').text(latitude + ',' + longitude);
  }
    if(live){
       setTimeout(updateISSView, interval);
    }
  }

  updateISSView();

</script>
