<h1>Do You See What ISSee?</h1>
<p>Current view from the International Space Station</p>
<div class='image-container'>
  <img src='<%= url %>'>
  <p>The ISS's current coordinates are: <%= position.latitude %>, <%= position.longitude %></p>
  <!-- <p>It is currently orbiting directly above:</p> -->
  <!-- Hit another API for location name, given coordinates -->
</div>
<p class="info">This page updates once per minute with a high-resolution satellite image of
the coordinates beneath the International Space Station.</p>
